cursor-style = block
font-family = JetBrains Mono
font-size = 16
keybind = alt+1=goto_tab:1
keybind = alt+2=goto_tab:2
keybind = alt+3=goto_tab:3
keybind = alt+4=goto_tab:4
keybind = alt+5=goto_tab:5
keybind = alt+6=goto_tab:6
keybind = alt+7=goto_tab:7
keybind = alt+8=goto_tab:8
keybind = alt+9=goto_tab:9
# keybind = global:opt+space=toggle_quick_terminal
macos-titlebar-proxy-icon = hidden
# macos-titlebar-style = hidden
macos-titlebar-style = tabs
# quick-terminal-animation-duration = 0
shell-integration-features = no-cursor
theme = OneHalfDark
title = " "
window-colorspace = display-p3
# window-padding-x = 8
# window-padding-y = 8
window-save-state = always
